#s-01abddc8-3d55-49f0-a683-66122c4c8089 > #backgroundBox {
  background-color: #B0DEE9;
  position: absolute;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph {
  box-shadow: none;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Line {
  position: absolute;
  width: 331.0527648925781px;
  height: 3.0px;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Image_28 {
  position: absolute;
  width: 144.28500366210952px;
  height: 144.28500366210815px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Image_28 {
  box-shadow: none;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Image_4 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Image_4 {
  box-shadow: none;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph_1 {
  box-shadow: none;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph_2 {
  position: absolute;
  width: 323.5614757509724px;
  min-height: 169.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph_2 {
  box-shadow: none;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Home_Indicator {
  position: absolute;
  width: 134.0px;
  height: 5.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-01abddc8-3d55-49f0-a683-66122c4c8089 #s-Home_Indicator {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-01abddc8-3d55-49f0-a683-66122c4c8089 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
