#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 > #backgroundBox {
  background-color: #B0DEE9;
  position: absolute;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph {
  box-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Line {
  position: absolute;
  width: 331.0527648925781px;
  height: 3.0px;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Rectangle {
  position: absolute;
  width: 330.05278014012043px;
  min-height: 225.83281250000027px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Rectangle {
  box-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #C4DDE3;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Image_3 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Image_3 {
  box-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Image_1 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Image_1 {
  box-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_1 {
  box-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_2 {
  box-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Image_35 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Image_35 {
  box-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_3 {
  box-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Image_28 {
  position: absolute;
  width: 144.28500366210952px;
  height: 144.28500366210815px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Image_28 {
  box-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Input_1 {
  position: absolute;
  width: 298.47477339573607px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Input_1 {
  box-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Input_1 input {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  min-height: 11.0pt;
  text-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_4 {
  box-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Text-area textarea::-webkit-input-placeholder {
  color: #A1A1A1;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Text-area textarea::-moz-placeholder {
  color: #A1A1A1;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Text-area textarea:-moz-placeholder {
  color: #A1A1A1;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Text-area textarea:-ms-input-placeholder {
  color: #A1A1A1;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Text-area {
  position: absolute;
  width: 88.01407470403208%;
  height: 150.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Text-area {
  box-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Text-area textarea {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Text-area > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Text-area .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 15px;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Button {
  position: absolute;
  width: 87.75362040051867%;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Button {
  box-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Button > .backgroundLayer {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Button > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Button > .backgroundLayer {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Button .paddingLayer:first-child {
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Button span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Button span#rtr-s-Button_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Image_2 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Image_2 {
  box-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Image_4 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Image_4 {
  box-shadow: none;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Home_Indicator {
  position: absolute;
  width: 134.0px;
  height: 5.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 #s-Home_Indicator {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-0657596e-a031-44d4-ba9d-2fdb9fabeb75 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
