#s-0937cc67-d2ff-453e-9b54-9311202e0537 > #backgroundBox {
  background-color: #B0DEE9;
  position: absolute;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_2 {
  position: absolute;
  width: 350.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_2 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FCC181;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_3 {
  position: absolute;
  width: 350.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_3 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #ECFF93;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_4 {
  position: absolute;
  width: 350.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_4 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #B6F593;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_5 {
  position: absolute;
  width: 350.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_5 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_5 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: #A4FFDD;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_5 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Line {
  position: absolute;
  width: 351.0px;
  height: 5.0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_1 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_2 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Line_1 {
  position: absolute;
  width: 351.0px;
  height: 5.0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_3 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Image_4 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Image_4 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_8 {
  position: absolute;
  width: 350.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_8 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_8 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: #8F81FC;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_8 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_8 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_8 span#rtr-s-Button_8_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Home_Indicator {
  position: absolute;
  width: 134.0px;
  height: 5.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Home_Indicator {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Line_2 {
  position: absolute;
  width: 351.0px;
  height: 5.0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Line_3 {
  position: absolute;
  width: 351.0px;
  height: 5.0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Rectangle {
  position: absolute;
  width: 360.0px;
  min-height: 600.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Rectangle {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #E2F3F8;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Rectangle > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Rectangle > .backgroundLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-streetMap {
  position: absolute;
  width: 330.0px;
  height: 190.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-streetMap {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-streetMap > .backgroundLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-streetMap > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-streetMap > .backgroundLayer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Ellipse_9 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Ellipse_9 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Ellipse_9 {
  position: absolute;
  filter: none;
  opacity: 0.3;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Ellipse_9 {
  width: 156.0px;
  height: 156.0px;
  min-height: 156.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Ellipse_9 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Ellipse_9 > .backgroundLayer > .colorLayer {
  background-color: #157EFB;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Ellipse_9 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Ellipse_2 {
  width: 20.0px;
  height: 20.0px;
  min-height: 20.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 8.0px;
  stroke: #FFFFFF;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Ellipse_2 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #157EFB;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Ellipse_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Pin-red {
  position: absolute;
  width: 30.0px;
  height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Pin-red {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_1 {
  position: absolute;
  width: 330.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_1 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999996%);
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_1 span {
  color: #030303;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Image_29 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Image_29 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_4 {
  position: absolute;
  width: 330.0px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_4 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_4 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_4 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_9 {
  position: absolute;
  width: 330.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_9 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_9 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_9 > .backgroundLayer > .colorLayer {
  background-color: #2E5266;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_9 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Button_9 span#rtr-s-Button_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Image_40 {
  position: absolute;
  width: 36.0px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Image_40 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_20 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_20 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_20 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Circle_20 {
  width: 17.0px;
  height: 17.0px;
  min-height: 17.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #CECECE;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Circle_20 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_20 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_20 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_20 span#rtr-s-Circle_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_21 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_21 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_21 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Circle_21 {
  width: 17.0px;
  height: 17.0px;
  min-height: 17.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #CECECE;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Circle_21 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_21 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_21 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_21 span#rtr-s-Circle_21_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_22 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_22 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_22 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Circle_22 {
  width: 17.0px;
  height: 17.0px;
  min-height: 17.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #CECECE;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-0937cc67-d2ff-453e-9b54-9311202e0537 #s-Circle_22 {
  box-shadow: none;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_22 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_22 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 #shapewrapper-s-Circle_22 span#rtr-s-Circle_22_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-0937cc67-d2ff-453e-9b54-9311202e0537 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
