#s-10469a4a-730d-470b-9124-9cda05cba41f > #backgroundBox {
  background-color: #B0DEE9;
  position: absolute;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Rectangle {
  position: absolute;
  width: 325.0000000000002px;
  min-height: 132.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-10469a4a-730d-470b-9124-9cda05cba41f #s-Rectangle {
  box-shadow: none;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #CBECF4;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_4 {
  box-shadow: none;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph {
  box-shadow: none;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_1.checked > .backgroundLayer {
  background-image: url('../../images/af918e6f-1d02-43eb-a3da-1ffae6a0704d.svg#svgView(preserveAspectRatio(none))');
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_1.unchecked > .backgroundLayer {
  background-image: url('../../images/952cecca-0cfd-4350-8337-1bd9a84e46b0.svg#svgView(preserveAspectRatio(none))');
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_1 {
  position: absolute;
  width: 50.53125px;
  height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_1 {
  box-shadow: none;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_1 {
  box-shadow: none;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_2.checked > .backgroundLayer {
  background-image: url('../../images/7ca312f2-3c9c-45d0-8708-7e7253feadd2.svg#svgView(preserveAspectRatio(none))');
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_2.unchecked > .backgroundLayer {
  background-image: url('../../images/fd1dd627-e7d3-4ed6-afeb-1c0e96466588.svg#svgView(preserveAspectRatio(none))');
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_2 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_2 {
  box-shadow: none;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_3.checked > .backgroundLayer {
  background-image: url('../../images/bfdb3028-3b45-42b7-8b77-714f2af327ac.svg#svgView(preserveAspectRatio(none))');
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_3.unchecked > .backgroundLayer {
  background-image: url('../../images/51489e35-a1e3-4c3c-aca7-30c474546a30.svg#svgView(preserveAspectRatio(none))');
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_3 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_3 {
  box-shadow: none;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_4.checked > .backgroundLayer {
  background-image: url('../../images/851ae77c-cdac-4301-b481-d37cf43e7f14.svg#svgView(preserveAspectRatio(none))');
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_4.unchecked > .backgroundLayer {
  background-image: url('../../images/df41df7b-a22a-4c7d-a9d1-f37a36d98d6b.svg#svgView(preserveAspectRatio(none))');
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_4 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-10469a4a-730d-470b-9124-9cda05cba41f #s-Input_4 {
  box-shadow: none;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_2 {
  box-shadow: none;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_3 {
  box-shadow: none;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_5 {
  box-shadow: none;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Image_4 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-10469a4a-730d-470b-9124-9cda05cba41f #s-Image_4 {
  box-shadow: none;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f #s-Home_Indicator {
  position: absolute;
  width: 134.0px;
  height: 5.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-10469a4a-730d-470b-9124-9cda05cba41f #s-Home_Indicator {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-10469a4a-730d-470b-9124-9cda05cba41f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
