#s-d8176710-9c82-4bde-b2dc-14eac41c85bf > #backgroundBox {
  background-color: #B0DEE9;
  position: absolute;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_1 {
  position: absolute;
  width: 325.0px;
  min-height: 43.74843750000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_1 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle {
  position: absolute;
  width: 325.0px;
  min-height: 125.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat SemiBold',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat SemiBold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat SemiBold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_1 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Line {
  position: absolute;
  width: 326.0px;
  height: 3.0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_3 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_4 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_5 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_6 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_2.checked > .backgroundLayer {
  background-image: url('../../images/7d40a9f8-7eea-41c9-983d-906fb528197b.svg#svgView(preserveAspectRatio(none))');
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_2.unchecked > .backgroundLayer {
  background-image: url('../../images/038d6911-fb12-40a2-83fd-8c3ff507027c.svg#svgView(preserveAspectRatio(none))');
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_2 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_2 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_7 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_8 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_3.checked > .backgroundLayer {
  background-image: url('../../images/390ce435-fc80-483f-9353-cee469a0ed0c.svg#svgView(preserveAspectRatio(none))');
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_3.unchecked > .backgroundLayer {
  background-image: url('../../images/f0aab0e7-fb55-4e17-9e11-754df94386c6.svg#svgView(preserveAspectRatio(none))');
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_3 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_3 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_9 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Line_1 {
  position: absolute;
  width: 326.0px;
  height: 3.0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_10 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_11 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_12 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_4.checked > .backgroundLayer {
  background-image: url('../../images/010e9beb-225a-4a27-af5f-85a6a5439d8c.svg#svgView(preserveAspectRatio(none))');
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_4.unchecked > .backgroundLayer {
  background-image: url('../../images/e57d6d5c-46bd-4593-8b45-7f97df521dcd.svg#svgView(preserveAspectRatio(none))');
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_4 {
  position: absolute;
  width: 50.53125px;
  height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_4 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_5.checked > .backgroundLayer {
  background-image: url('../../images/ea658133-c524-4a15-ab27-d67fc793039c.svg#svgView(preserveAspectRatio(none))');
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_5.unchecked > .backgroundLayer {
  background-image: url('../../images/6289405e-fc50-461f-a3cd-6fac0e383795.svg#svgView(preserveAspectRatio(none))');
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_5 {
  position: absolute;
  width: 50.53125px;
  height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_5 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_6.checked > .backgroundLayer {
  background-image: url('../../images/35f2d84f-001d-4e16-82e2-d5c491889d46.svg#svgView(preserveAspectRatio(none))');
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_6.unchecked > .backgroundLayer {
  background-image: url('../../images/63678ab7-0c31-4b15-be79-c145d9c6bdd7.svg#svgView(preserveAspectRatio(none))');
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_6 {
  position: absolute;
  width: 50.53125px;
  height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Input_6 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_14 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_15 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans Semibold',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_16 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Open Sans Semibold',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Line_2 {
  position: absolute;
  width: 326.0px;
  height: 3.0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Line_3 {
  position: absolute;
  width: 326.0px;
  height: 3.0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Image_28 {
  position: absolute;
  width: 82.28500366210949px;
  height: 82.28500366210875px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Image_28 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_2 {
  position: absolute;
  width: 332.37740020751943px;
  min-height: 53.231250000000045px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_2 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #9E0000;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold',Arial;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_17 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_17 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 15.0pt;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Semibold',Arial;
  font-size: 15.0pt;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_20 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_20 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_20 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Circle_20 {
  width: 17.0px;
  height: 17.0px;
  min-height: 17.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #CECECE;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Circle_20 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_20 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_20 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_20 span#rtr-s-Circle_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_21 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_21 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_21 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Circle_21 {
  width: 17.0px;
  height: 17.0px;
  min-height: 17.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #CECECE;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Circle_21 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_21 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_21 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_21 span#rtr-s-Circle_21_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_22 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_22 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_22 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Circle_22 {
  width: 17.0px;
  height: 17.0px;
  min-height: 17.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #CECECE;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Circle_22 {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_22 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_22 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #shapewrapper-s-Circle_22 span#rtr-s-Circle_22_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Home_Indicator {
  position: absolute;
  width: 134.0px;
  height: 5.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Home_Indicator {
  box-shadow: none;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Image_4 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d8176710-9c82-4bde-b2dc-14eac41c85bf #s-Image_4 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-d8176710-9c82-4bde-b2dc-14eac41c85bf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
